html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#app {
  @apply flex flex-col relative;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-primary opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.footer-btn {
  @apply p-2 bg-white text-gray-300 flex flex-col border-t-2 border-transparent items-center justify-center;
  flex-grow: 1;
  flex-basis: 0;
}

.footer-btn.router-link-active {
  @apply border-primary;
}

.footer-btn.router-link-exact-active {
  @apply text-primary;
}
